@use "global" as *;

// 共通カード
.c-card01 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: myrem(10);
  background: $blue6;
  border-radius: myrem(8);
  padding: myrem(20) 0;
  width: 100%;
  flex-direction: row;
  box-sizing: border-box;

  @include mq(md) {
    flex-direction: column;
    width: calc(230 / 1000 * 100%);
    padding: myrem(35) 0 myrem(31) 0;
    gap: myrem(22);
    border-radius: myrem(15);
  }

  // テキストを下寄せ
  .c-card01__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: myrem(18);
    line-height: calc(25 / 18);
    font-weight: 700;
    text-align: center;
    flex: 1;
    @include mq(md) {
      line-height: 1.8;
    }
  }

  // 画像共通設定
  .c-card01__image {
    width: calc(101 / 345 * 100%);
    max-width: myrem(101);
    aspect-ratio: 101 / 75;
    margin-left: myrem(7);
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mq(md) {
      width: calc(160 / 230 * 100%);
      max-width: none;
      aspect-ratio: 160 / 118;
      margin-left: myrem(-4);
    }
  }
}

// 個別カードの微調整
.c-card01--learn02 {
  padding: myrem(18) 0 myrem(16) 0;
  gap: myrem(18);
  @include mq(md) {
    padding: myrem(31) 0 myrem(29) 0;
    gap: myrem(20);
  }

  .c-card01__image {
    width: calc(93 / 345 * 100%);
    aspect-ratio: 93 / 81;
    margin-left: myrem(2);
    @include mq(md) {
      width: calc(145 / 230 * 100%);
      aspect-ratio: 145 / 126;
      margin-left: myrem(8);
    }
  }
}

.c-card01--learn03 {
  padding: myrem(22) 0 myrem(19) 0;
  gap: myrem(24);
  @include mq(md) {
    padding: myrem(30) 0 myrem(31) 0;
    gap: myrem(24);
  }

  .c-card01__image {
    width: calc(101 / 345 * 100%);
    aspect-ratio: 101 / 74;
    margin-left: myrem(14);
    @include mq(md) {
      width: calc(164 / 230 * 100%);
      aspect-ratio: 164 / 121;
      margin-left: myrem(4);
    }
  }
}

.c-card01--learn04 {
  padding: myrem(16) 0 myrem(10) 0;
  gap: myrem(14);
  @include mq(md) {
    padding: myrem(24) 0 myrem(30) 0;
    gap: myrem(14);
  }

  .c-card01__image {
    width: calc(85 / 345 * 100%);
    aspect-ratio: 85 / 88;
    margin-left: myrem(24);
    @include mq(md) {
      width: calc(132 / 230 * 100%);
      aspect-ratio: 132 / 138;
      margin-left: 0;
    }
  }
}
