@use "global" as *;

.swiper {
  overflow: hidden;
  width: 100%;
  @include mq(md) {
    overflow: visible;
  }
}

.swiper-wrapper {
  display: flex;
  transition-timing-function: linear;
}

.swiper-slide {
  flex-shrink: 0;
}